.important {
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}

.unimportant {
  color: purple;
  text-align: center;
}

.highlight {
  color: red;
}

.sidebar {
  background-color: yellow;
  width: 20%;
  text-align: center;
}

.column {
  width: 300px;
  float: left;
}
